<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="100"/>
    <img class="secondary-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" width="50"/>
    <div class="header-fields">
      <div class="flexrow">
        <h1 class="charname"><input name="system.heroname" type="text" value="{{system.heroname}}" placeholder="Superman"/></h1>
        <i class="fa-solid fa-arrows-rotate swapbutton"></i>
        <h1 class="charname"><input name="system.realidentity" type="text" value="{{system.realidentity}}" placeholder="Clark Kent"/></h1>
      </div>

      {{!-- Power Level, Power Points Total, Extra Power Points, Hero Points --}}
      <ul class="attributes flexrow">
        <li class="attribute pl">
          <h4 class="attribute-name box-title">Power Level</h4>
          <center>
          <input class="attribute-value" type="text" name="system.generic.pl" value="{{system.generic.pl}}" data-dtype="Number"/>
          </center>
        </li>

        <li class="attribute extpp">
          <h4 class="attribute-name box-title">Extra PP</h4>
          <center>
          <input class="attribute-value" type="text" name="system.generic.extrapp" value="{{system.generic.extrapp}}" data-dtype="Number"/>
          </center>
        </li>

        <li class="attribute hp">
          <h4 class="attribute-name box-title">Hero Points</h4>
          <center>
          <input class="attribute-value" type="text" name="system.generic.hero_point" value="{{system.generic.hero_point}}" data-dtype="Number"/>
          </center>
        </li>
      </ul>
      {{!-- Power Point Spent --}}
      <ul class="attributes flexrow">
        <li class="attribute ppabilities">
          <h4 class="attribute-name box-title">Abilities</h4>
          <center>
          <input class="attribute-value" type="text" name="system.generic.pp_ability" value="{{system.generic.pp_ability}}" data-dtype="Number" disabled="true"/>
          </center>
        </li>

        <li class="attribute ppdefences">
          <h4 class="attribute-name box-title">Defences</h4>
          <center>
          <input class="attribute-value" type="text" name="system.generic.pp_defenses" value="{{system.generic.pp_defenses}}" data-dtype="Number" disabled="true"/>
          </center>
        </li>

        <li class="attribute ppskills">
          <h4 class="attribute-name box-title">Skills</h4>
          <center>
          <input class="attribute-value skillsspent" type="text" name="system.generic.pp_skills" value="{{system.generic.pp_skills}}" data-dtype="Number" disabled="true"/>
          </center>
        </li>

        <li class="attribute ppadvantages">
          <h4 class="attribute-name box-title">Advantages</h4>
          <center>
          <input class="attribute-value" type="text" name="system.generic.pp_advantages" value="{{system.generic.pp_advantages}}" data-dtype="Number" disabled="true"/>
          </center>
        </li>

        <li class="attribute pppowers">
          <h4 class="attribute-name box-title">Powers</h4>
          <center>
          <input class="attribute-value" type="text" name="system.generic.pp_powers" value="{{system.generic.pp_powers}}" data-dtype="Number" disabled="true"/>
          </center>
        </li>

        <li class="attribute ppspent">
          <h4 class="attribute-name box-title">Spent</h4>
          <center>
          <div id="pptotal" class="attribute-value multiple">
            <input class="spenttotal" type="text" name="system.generic.pp_spent" value="{{system.generic.pp_spent}}" data-dtype="Number" disabled="true"/>
            <span class="sep"> / </span>
            <input type="text" name="system.generic.pp" value="{{system.generic.pp}}" data-dtype="Number" disabled="true"/>
          </div>
          </center>
        </li>
      </ul>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="powers">Powers</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" id="maintab" data-tab="features">
      <section class="grid grid-2col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          
            {{#each system.abilities as |ability key|}}
            <div class="ability flexrow flex-group-left">
              <label class="resource-label rollable flexlarge align-center" data-roll="d20+@abilities.{{key}}.total" data-label="{{ability.label}}">{{ability.label}}</label>
              <input width="30" title="Purchased" type="text" name="system.abilities.{{key}}.purchased" value="{{ability.purchased}}" data-dtype="Number"/>
              <input width="30" title="Misc Bonuses" type="text" name="system.abilities.{{key}}.misc" value="{{ability.misc}}" data-dtype="Number"/>
              <input width="30" title="Automatic" type="text" disabled="true" name="system.abilities.{{key}}.auto" value="{{ability.auto}}" data-dtype="Number"/>
              <span class="ability-total rollable" data-roll="d20+@abilities.{{key}}.total" data-label="{{abilities}}">{{numberFormat ability.total decimals=0 sign=true}}</span>
            </div>
            {{/each}}
        </aside>

        {{!-- Skills --}}
        <aside class="sidebar">
          {{#each system.defenses as |defense key|}}
          <section class="defense flexrow flex-group-left">
            <label class="resource-label rollable flexlarge align-center" data-roll="d20+@defenses.{{key}}.total" data-label="{{defense.label}}">{{defense.label}}</label>
            <input width="30" title="From Original Stat" type="text" disabled="true" name="system.defenses.{{key}}.default" value="{{defense.default}}" data-dtype="Number"/>
            <input width="30" title="Purchased" type="text" name="system.defenses.{{key}}.purchased" value="{{defense.purchased}}" data-dtype="Number"/>
            <input width="30" title="Misc Bonuses" type="text" name="system.defenses.{{key}}.misc" value="{{defense.misc}}" data-dtype="Number"/>
            <input width="30" title="Automatic" type="text" disabled="true" name="system.defenses.{{key}}.auto" value="{{defense.auto}}" data-dtype="Number"/>
            <span class="defense-total rollable" data-roll="d20+@defenses.{{key}}.total" data-label="{{defenses}}">{{numberFormat defense.total decimals=0 sign=true}}</span>
            <input width="30" title="AC" type="text" disabled="true" name="system.defenses.{{key}}.ac" value="{{defense.ac}}" data-dtype="Number"/>
          </section>
          {{/each}}
        </aside>
      </section>

      {{!-- Skills --}}
      <ul class="skills-list">
      {{#each system.skills as |skill key|}}
        <li class="skill flexrow">
            <div class="skill-name-controls">
              <i class="fa-solid fa-dice-d20 roll-button rollable flexexlarge align-center" data-roll="d20+@skills.{{key}}.total"></i>
              <label class="resource-label flexexlarge align-center" data-label="{{skill.label}}">{{skill.label}}</label>
              <a class="config-button" data-action="skill" data-tooltip="Configure">
                <i class="fas fa-cog"></i>
              </a>
            </div>
            <label class="skill-ability" title="Original Ability">{{skill.ability}}</label>
            <label class="skill-original-ability" title="From Original Stat">+{{skill.default}}</label>
            <input title="Purchased" type="text" name="system.skills.{{key}}.purchased" value="{{skill.purchased}}" data-dtype="Number"/>
        </li>
      {{/each}}
      </ul>


    </div>

    {{!-- https://stackoverflow.com/questions/6199773/how-to-enable-disable-an-html-button-based-on-scenarios --}}
    {{!-- https://sebhastian.com/call-javascript-function-html/ --}}
    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned powers Tab --}}
    <div class="tab powers" data-group="primary" data-tab="powers">
       {{> "systems/foundrymnm3e/templates/actor/parts/actor-powers.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/foundrymnm3e/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>

