<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.system.details.hero_identity.image}}"
      data-edit="system.details.hero_identity.image" title="{{system.details.hero_identity.name}}" />
    <img class="profile-img" src="{{actor.system.details.civilian_identity.image}}"
      data-edit="system.details.civilian_identity.image" title="{{system.details.civilian_identity.name}}" />
    <div class="header-fields">
      <div class="flexrow">
        <h1 class="charname"><input name="system.details.hero_identity.name" type="text"
            value="{{system.details.hero_identity.name}}" placeholder="Superman" /></h1>
        <i class="fa-solid fa-arrows-rotate swapbutton"></i>
        <h1 class="charname"><input name="system.details.civilian_identity.name" type="text"
            value="{{system.details.civilian_identity.name}}" placeholder="Clark Kent" /></h1>
      </div>

      {{!-- Power Level, Extra Power Points, Power Points Spent, Hero Points --}}
      <ul class="attributes flexrow">
        <li class="attribute pl">
          <div class="flexrow">
            <h4 class="attribute-name">Power Level</h4>
            <input class="attribute-value flex-70px" oninput="setDefaultToZero(this)" type="text"
              name="system.generic.pl" value="{{system.generic.pl}}" data-dtype="Number" />
          </div>
          <div class="flexrow">
            <div id="pptotal" class="attribute-value multiple">
              <label class="ppspent">{{system.generic.pp_spent}}</label>
              <span class="sep"> / </span>
              <label class="ppspent">{{system.generic.pp}}</label>
              <div class="flexrow extrapp" data-tooltip="Extra Power Points">
                <label>+</label>
                <input oninput="setDefaultToZero(this)" type="text" name="system.generic.extrapp"
                  value="{{system.generic.extrapp}}" data-dtype="Number" />
              </div>
            </div>
          </div>
        </li>

        <div class="pptooltip">
          <div class="flexrow">
            <label class="value">{{system.generic.pp_ability}}</label>
            <label class="flexlarge">Abilities</label>
          </div>
          <div class="flexrow">
            <label class="value">{{system.generic.pp_defenses}}</label>
            <label class="flexlarge">Defenses</label>
          </div>
          <div class="flexrow">
            <label class="value">{{system.generic.pp_skills}}</label>
            <label class="flexlarge">Skills</label>
          </div>
          <div class="flexrow">
            <label class="value">{{system.generic.pp_advantages}}</label>
            <label class="flexlarge">Advantages</label>
          </div>
          <div class="flexrow">
            <label class="value">{{system.generic.pp_powers}}</label>
            <label class="flexlarge">Powers</label>
          </div>
        </div>

        <li class="attribute initiative">
          <a class="initiativeact">
            <h4 class="attribute-name">Initiative</h4>
            <center>
              <label class="attribute-label">{{system.generic.initiative}}</label>
            </center>
          </a>
        </li>
        {{!-- <li class="attribute hp">
          <h4 class="attribute-name">Hero Points</h4>
          <center>
            <input class="attribute-value" oninput="setDefaultToZero(this)" type="text" name="system.generic.hero_point"
              value="{{system.generic.hero_point}}" data-dtype="Number" />
          </center>
        </li> --}}
      </ul>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="powers">Powers</a>
    <a class="item" data-tab="advantages">Advantages</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" id="maintab" data-tab="features">
      <section class="grid flexcol">
        {{!-- Abilities --}}
        <aside class="sidebar">
          <ul class="ability-list">
            {{!-- Headers --}}
            <li class="flexrow features-header">
              <div class="resource-label flexexlargeheader flexrow"></div>
              <div class="ability-value" data-tooltip="MNM3E.Purchased" data-tooltip-direction="UP">Purc</div>
              <div class="ability-value" data-tooltip="MNM3E.Misc" data-tooltip-direction="UP">Misc</div>
              <div class="ability-value" data-tooltip="MNM3E.Auto" data-tooltip-direction="UP">Auto</div>
              <div class="ability-value" data-tooltip="MNM3E.Total" data-tooltip-direction="UP">Total</div>
            </li>
            {{#each system.abilities as |ability key|}}
            <li class="flexrow ability" data-ability="{{key}}">
              <label class="resource-label rollable-ability rollable flexexlarge align-center"
                data-roll="d20+@abilities.{{key}}.total" data-label="{{ability.label}}">{{ability.label}}</label>
              <input class="ability-value purchased" type="text" name="system.abilities.{{key}}.purchased"
                oninput="setDefaultToZero(this)" value="{{ability.purchased}}" data-dtype="Number" />
              <div class="flexrow ability-div">
                {{#if ability.disabled}}
                <input class="ability-value disabler" type="text" disabled name="absent" value="{{ability.status}}"
                  data-dtype="Text" />
                {{else}}
                <input class="ability-value misc" oninput="setDefaultToZero(this)" type="text"
                  name="system.abilities.{{key}}.misc" value="{{ability.misc}}" data-dtype="Number" />
                <input class="ability-value auto" disabled type="text" name="system.abilities.{{key}}.auto"
                  value="{{ability.auto}}" data-dtype="Number" />
                <input class="ability-value total" disabled type="text" name="system.abilities.{{key}}.total"
                  value="{{ability.total}}" data-dtype="Number" />
                {{/if}}
              </div>
            </li>
            {{/each}}
          </ul>
        </aside>

        {{!-- Defenses --}}
        <aside class="sidebar">
          <ul class="defense-list">
            {{!-- Headers --}}
            <li class="flexrow features-header">
              <div class="resource-label flexexlarge flexrow"></div>
              <div class="defense-value" data-tooltip="MNM3E.Original" data-tooltip-direction="UP">Stat</div>
              <div class="defense-value" data-tooltip="MNM3E.Purchased" data-tooltip-direction="UP">Purc</div>
              <div class="defense-value" data-tooltip="MNM3E.Misc" data-tooltip-direction="UP">Misc</div>
              <div class="defense-value" data-tooltip="MNM3E.Auto" data-tooltip-direction="UP">Auto</div>
              <div class="defense-value" data-tooltip="MNM3E.Total" data-tooltip-direction="UP">Total</div>
              <div class="defense-value" data-tooltip="MNM3E.AC" data-tooltip-direction="UP"><i
                  class="fa-solid fa-shield-halved"></i></div>
              <div class="defense-value" data-tooltip="MNM3E.Impervious" data-tooltip-direction="UP">Imp</div>
            </li>
            {{#each system.defenses as |defense key|}}
            <li class="flexrow defense defense-row" data-defense="{{key}}">
              <label class="resource-label rollable-defense rollable flexexlarge align-center"
                data-roll="d20+@defenses.{{key}}.total" data-label="{{defense.label}}">{{defense.label}}</label>
              <div class="flexrow defense-div">
                {{#if defense.immune}}
                <input class="defense-value disabler" type="text" disabled name="immune" value="Immune"
                  data-dtype="Text" />
                {{else}}
                {{#if defense.disabled}}
                <input class="defense-value disabler" type="text" disabled name="disabled" value="Disabled"
                  data-dtype="Text" />
                {{else}}
                <input class="defense-value originalstat" type="text" disabled name="system.defenses.{{key}}.default"
                  value="{{defense.default}}" data-dtype="Number" />
                <input class="defense-value purchased" oninput="setDefaultToZero(this)" type="text"
                  name="system.defenses.{{key}}.purchased" value="{{defense.purchased}}" data-dtype="Number" />
                <input class="defense-value misc" oninput="setDefaultToZero(this)" type="text"
                  name="system.defenses.{{key}}.misc" value="{{defense.misc}}" data-dtype="Number" />
                <input class="defense-value auto" disabled type="text" name="system.defenses.{{key}}.auto"
                  value="{{defense.auto}}" data-dtype="Number" />
                <input class="defense-value total" disabled type="text" name="system.defenses.{{key}}.total"
                  value="{{defense.total}}" data-dtype="Number" />
                <input class="defense-value ac" type="text" disabled name="system.defenses.{{key}}.ac"
                  value="{{defense.ac}}" data-dtype="Number" />
                <input class="defense-value impervious" type="text" disabled name="system.defenses.{{key}}.impervious"
                  value="{{defense.impervious}}" data-dtype="Number" />
                {{/if}}
                {{/if}}
              </div>
            </li>
            {{/each}}
          </ul>

          <ul class="attributes flexrow">
            <li class="attribute wounds">
              <h4 class="attribute-name">Wounds</h4>
              <center>
                <input class="attribute-value" oninput="setDefaultToZero(this)" type="text" name="system.generic.wounds"
                  value="{{system.generic.wounds}}" data-dtype="Number" />
              </center>
            </li>
          </ul>
        </aside>
      </section>

      <section class="grid flexcol">
        <aside class="sidebar ">
          {{!-- Skills --}}
          <ul class="skills-list">
            {{!-- Headers --}}
            <li class="flexrow features-header">
              <div class="skill-name-controls">
                <div class="resource-label flexexlarge flexrow"></div>
              </div>
              <div class="skill-ability abl" data-tooltip="Original Ability" data-tooltip-direction="UP">Abl</div>
              <div class="skill-original-ability" data-tooltip="Original Ability" data-tooltip-direction="UP">Stat</div>
              <div class="skill-value" data-tooltip="Purchased" data-tooltip-direction="UP">Purc</div>
              <div class="skill-value" data-tooltip="Misc" data-tooltip-direction="UP">Misc</div>
              <div class="skill-value" data-tooltip="Automatic" data-tooltip-direction="UP">Auto</div>
              <div class="skill-value" data-tooltip="Total" data-tooltip-direction="UP">Total</div>
              <div class="checkmarks">
                <div class="toggle1" data-tooltip="Untrained?" data-tooltip-direction="UP">U</div>
                <div class="toggle2" data-tooltip="Mastery?" data-tooltip-direction="UP">M</div>
              </div>
            </li>
            {{#each system.skills as |skill key|}}
            <li class="skill flexrow" data-skill="{{key}}">
              <div class="skill-name-controls">
                <label class="resource-label rollable-skill rollable flexexlarge align-center"
                  data-roll="d20+@skills.{{key}}.total" data-label="{{skill.label}}">{{skill.label}}</label>
                <a class="config-button" data-action="skill" data-tooltip="Configure">
                  <i class="fas fa-cog"></i>
                </a>
              </div>
              <label class="skill-ability">{{skill.ability}}</label>
              <div class="flexrow">
                {{#if skill.disabled}}
                <input class="skill-value disabler" type="text" disabled name="disabled" value="Disabled"
                  data-dtype="Text" />
                {{else}}
                <input class="skill-value originalstat" type="text" disabled name="system.skills.{{key}}.default"
                  value="{{skill.default}}" data-dtype="Number" />
                <input class="skill-value purchased" oninput="setDefaultToZero(this)" type="text"
                  name="system.skills.{{key}}.purchased" value="{{skill.purchased}}" data-dtype="Number" />
                <input class="skill-value misc" oninput="setDefaultToZero(this)" type="text"
                  name="system.skills.{{key}}.misc" value="{{skill.misc}}" data-dtype="Number" />
                <input class="skill-value auto" type="text" disabled name="system.skills.{{key}}.auto"
                  value="{{skill.auto}}" data-dtype="Number" />
                <input class="skill-value total" type="text" disabled name="system.skills.{{key}}.total"
                  value="{{skill.total}}" data-dtype="Number" />
                {{/if}}
              </div>
              <div class="checkmarks">
                <i class="toggle1">{{{skill.untrainedIcon}}}</i>
                <i class="toggle2">{{{skill.masteryIcon}}}</i>
              </div>
            </li>
            {{/each}}
          </ul>
        </aside>
      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to
      the rollData property. --}}
      {{> "systems/foundrymnm3e/templates/actor/parts/actor-description.hbs"}}
    </div>

    {{!-- Owned powers Tab --}}
    <div class="tab powers" data-group="primary" data-tab="powers">
      {{> "systems/foundrymnm3e/templates/actor/parts/actor-powers.hbs"}}
    </div>

    <div class="tab advantages" data-group="primary" data-tab="advantages">
      {{> "systems/foundrymnm3e/templates/actor/parts/actor-advantages.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/foundrymnm3e/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>

  <script>
    function setDefaultToZero(input) {
      if (input.value == '') {
        input.value = '0';
      }
    }
  </script>
</form>