<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="100"/>
    <img class="secondary-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" width="50"/>
    <div class="header-fields">
      <div class="flexrow">
        <h1 class="charname"><input name="system.heroname" type="text" value="{{system.heroname}}" placeholder="Superman"/></h1>
        <i class="fa-solid fa-arrows-rotate swapbutton"></i>
        <h1 class="charname"><input name="system.realidentity" type="text" value="{{system.realidentity}}" placeholder="Clark Kent"/></h1>
      </div>

      {{!-- Power Level,  Extra Power Points, Power Points Spent, Hero Points --}}
      <ul class="attributes flexrow">
        <li class="attribute pl">
          <h4 class="attribute-name box-title">Power Level</h4>
          <center>
          <input class="attribute-value" oninput="setDefaultToZero(this)" type="text" name="system.generic.pl" value="{{system.generic.pl}}" data-dtype="Number"/>
          </center>
        </li>

        <li class="attribute extpp">
          <h4 class="attribute-name box-title">Extra PP</h4>
          <center>
          <input class="attribute-value" oninput="setDefaultToZero(this)" type="text" name="system.generic.extrapp" value="{{system.generic.extrapp}}" data-dtype="Number"/>
          </center>
        </li>

        <li class="attribute ppspent">
          <h4 class="attribute-name box-title">Spent</h4>
          <center>
          <div id="pptotal" class="attribute-value multiple">
            <input class="spenttotal" type="text" name="system.generic.pp_spent" value="{{system.generic.pp_spent}}" data-dtype="Number" disabled/>
            <span class="sep"> / </span>
            <input type="text" name="system.generic.pp" value="{{system.generic.pp}}" data-dtype="Number" disabled/>
          </div>
          </center>
        </li>

        <li class="attribute hp">
          <h4 class="attribute-name box-title">Hero Points</h4>
          <center>
          <input class="attribute-value" oninput="setDefaultToZero(this)" type="text" name="system.generic.hero_point" value="{{system.generic.hero_point}}" data-dtype="Number"/>
          </center>
        </li>
      </ul>
      {{!-- Power Point Spent --}}
      <ul class="attributes flexrow">
        <li class="attribute ppabilities">
          <h4 class="attribute-name box-title">Abilities</h4>
          <center>
          <input class="attribute-value" type="text" name="system.generic.pp_ability" value="{{system.generic.pp_ability}}" data-dtype="Number" disabled/>
          </center>
        </li>

        <li class="attribute ppdefences">
          <h4 class="attribute-name box-title">Defences</h4>
          <center>
          <input class="attribute-value" type="text" name="system.generic.pp_defenses" value="{{system.generic.pp_defenses}}" data-dtype="Number" disabled/>
          </center>
        </li>

        <li class="attribute ppskills">
          <h4 class="attribute-name box-title">Skills</h4>
          <center>
          <input class="attribute-value skillsspent" type="text" name="system.generic.pp_skills" value="{{system.generic.pp_skills}}" data-dtype="Number" disabled/>
          </center>
        </li>

        <li class="attribute ppadvantages">
          <h4 class="attribute-name box-title">Advantages</h4>
          <center>
          <input class="attribute-value" type="text" name="system.generic.pp_advantages" value="{{system.generic.pp_advantages}}" data-dtype="Number" disabled/>
          </center>
        </li>

        <li class="attribute pppowers">
          <h4 class="attribute-name box-title">Powers</h4>
          <center>
          <input class="attribute-value" type="text" name="system.generic.pp_powers" value="{{system.generic.pp_powers}}" data-dtype="Number" disabled/>
          </center>
        </li>
      </ul>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="powers">Powers</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" id="maintab" data-tab="features">
      <section class="grid flexcol">
        {{!-- Abilities --}}
        <aside class="sidebar">
          <ul class="ability-list">
            {{!-- Headers --}}
            <li class="flexrow features-header">
              <div class="resource-label flexexlargeheader flexrow"></div>
              <div class="ability-value" data-tooltip="MNM3E.Purchased" data-tooltip-direction="UP">Purc</div>
              <div class="ability-value" data-tooltip="MNM3E.Misc" data-tooltip-direction="UP">Misc</div>
              <div class="ability-value" data-tooltip="MNM3E.Auto" data-tooltip-direction="UP">Auto</div>
              <div class="ability-value" data-tooltip="MNM3E.Total" data-tooltip-direction="UP">Total</div>
            </li>
             {{#each system.abilities as |ability key|}}
               <li class="flexrow ability" data-ability="{{key}}">
                <label class="resource-label rollable-ability rollable flexexlarge align-center" data-roll="d20+@abilities.{{key}}.total" data-label="{{ability.label}}">{{ability.label}}</label>
                <input class="ability-value purchased" type="text" name="system.abilities.{{key}}.purchased" oninput="setDefaultToZero(this)" value="{{ability.purchased}}" data-dtype="Number"/>
                <div class="flexrow ability-div">
                  {{#if ability.disabled}}
                  <input class="ability-value disabler" type="text" disabled name="absent" value="{{ability.status}}" data-dtype="Text"/>
                  {{else}}
                  <input class="ability-value misc" oninput="setDefaultToZero(this)" type="text" name="system.abilities.{{key}}.misc" value="{{ability.misc}}" data-dtype="Number"/>
                  <input class="ability-value auto" disabled type="text" name="system.abilities.{{key}}.auto" value="{{ability.auto}}" data-dtype="Number"/>
                  <input class="ability-value total" disabled type="text" name="system.abilities.{{key}}.total" value="{{ability.total}}" data-dtype="Number"/>                  
                  {{/if}}
                </div>
               </li>
             {{/each}}
          </ul>
        </aside>

        {{!-- Defenses --}}
        <aside class="sidebar">
          <ul class="defense-list">
            {{!-- Headers --}}
            <li class="flexrow features-header">
              <div class="resource-label flexexlarge flexrow"></div>
              <div class="defense-value" data-tooltip="MNM3E.Original" data-tooltip-direction="UP">Stat</div>
              <div class="defense-value" data-tooltip="MNM3E.Purchased" data-tooltip-direction="UP">Purc</div>
              <div class="defense-value" data-tooltip="MNM3E.Misc" data-tooltip-direction="UP">Misc</div>
              <div class="defense-value" data-tooltip="MNM3E.Auto" data-tooltip-direction="UP">Auto</div>
              <div class="defense-value" data-tooltip="MNM3E.Total" data-tooltip-direction="UP">Total</div>
              <div class="defense-value" data-tooltip="MNM3E.AC" data-tooltip-direction="UP">AC</div>
              <div class="defense-value" data-tooltip="MNM3E.Impervious" data-tooltip-direction="UP">Imp</div>
            </li>
            {{#each system.defenses as |defense key|}}
            <li class="flexrow defense" data-defense="{{key}}">
              <label class="resource-label rollable-defense rollable flexexlarge align-center" data-roll="d20+@defenses.{{key}}.total" data-label="{{defense.label}}">{{defense.label}}</label>
              <div class="flexrow defense-div">
                {{#if defense.immune}}
                <input class="defense-value disabler" type="text" disabled name="immune" value="Immune" data-dtype="Text"/>
                {{else}}
                {{#if defense.disabled}}
                <input class="defense-value disabler" type="text" disabled name="disabled" value="Disabled" data-dtype="Text"/>
                {{else}}
                <input class="defense-value originalstat" type="text" disabled name="system.defenses.{{key}}.default" value="{{defense.default}}" data-dtype="Number"/>
                <input class="defense-value purchased" oninput="setDefaultToZero(this)" type="text" name="system.defenses.{{key}}.purchased" value="{{defense.purchased}}" data-dtype="Number"/>
                <input class="defense-value misc"  oninput="setDefaultToZero(this)" type="text" name="system.defenses.{{key}}.misc" value="{{defense.misc}}" data-dtype="Number"/>
                <input class="defense-value auto" disabled  type="text" name="system.defenses.{{key}}.auto" value="{{defense.auto}}" data-dtype="Number"/>
                <input class="defense-value total" disabled  type="text" name="system.defenses.{{key}}.total" value="{{defense.total}}" data-dtype="Number"/>                            
                <input class="defense-value ac" type="text" disabled name="system.defenses.{{key}}.ac" value="{{defense.ac}}" data-dtype="Number"/>
                <input class="defense-value impervious" type="text" disabled name="system.defenses.{{key}}.impervious" value="{{defense.impervious}}" data-dtype="Number"/>
                {{/if}}
                {{/if}}
              </div>
            </li>
            {{/each}}
          </ul>

          <ul class="attributes flexrow">
            <li class="attribute wounds">
              <h4 class="attribute-name box-title">Wounds</h4>
              <center>
              <input class="attribute-value" oninput="setDefaultToZero(this)" type="text" name="system.generic.wounds" value="{{system.generic.wounds}}" data-dtype="Number"/>
              </center>
            </li>
            <li class="attribute initiative">
              <h4 class="attribute-name box-title">Initiative</h4>
              <center>
              <input class="attribute-value" disabled type="text" name="system.generic.initiative" value="{{system.generic.initiative}}" data-dtype="Number"/>
              </center>
            </li>
          </ul>
        </aside>
      </section>

      {{!-- Skills --}}
      <ul class="skills-list">
        {{!-- Headers --}}
        <li class="flexrow features-header">
          <div class="skill-name-controls">
            <div class="resource-label flexexlarge flexrow"></div>
          </div>
          <div class="skill-ability abl" data-tooltip="Original Ability" data-tooltip-direction="UP">Abl</div>
          <div class="skill-original-ability" data-tooltip="Original Ability" data-tooltip-direction="UP">Stat</div>
          <div class="skill-value" data-tooltip="Purchased" data-tooltip-direction="UP">Purc</div>
          <div class="skill-value" data-tooltip="Misc" data-tooltip-direction="UP">Misc</div>
          <div class="skill-value" data-tooltip="Automatic" data-tooltip-direction="UP">Auto</div>
          <div class="skill-value" data-tooltip="Total" data-tooltip-direction="UP">Total</div>
          <div class="checkmarks">
            <div class="toggle1" data-tooltip="Untrained?" data-tooltip-direction="UP">U</div>
            <div class="toggle2" data-tooltip="Mastery?" data-tooltip-direction="UP">M</div>
          </div>
        </li>
      {{#each system.skills as |skill key|}}
        <li class="skill flexrow" data-skill="{{key}}">
            <div class="skill-name-controls">
              <label class="resource-label rollable-skill rollable flexexlarge align-center" data-roll="d20+@skills.{{key}}.total" data-label="{{skill.label}}">{{skill.label}}</label>
              <a class="config-button" data-action="skill" data-tooltip="Configure">
                <i class="fas fa-cog"></i>
              </a>
            </div>
            <label class="skill-ability" >{{skill.ability}}</label>
            <div class="flexrow">
              {{#if skill.disabled}}
              <input class="skill-value disabler" type="text" disabled name="disabled" value="Disabled" data-dtype="Text"/>
              {{else}}
              <input class="skill-value originalstat" type="text" disabled name="system.skills.{{key}}.default" value="{{skill.default}}" data-dtype="Number"/>
              <input class="skill-value purchased" oninput="setDefaultToZero(this)" type="text" name="system.skills.{{key}}.purchased" value="{{skill.purchased}}" data-dtype="Number"/>
              <input class="skill-value misc" oninput="setDefaultToZero(this)" type="text" name="system.skills.{{key}}.misc" value="{{skill.misc}}" data-dtype="Number"/>
              <input class="skill-value auto" type="text" disabled name="system.skills.{{key}}.auto" value="{{skill.auto}}" data-dtype="Number"/>
              <input class="skill-value total" type="text" disabled name="system.skills.{{key}}.total" value="{{skill.total}}" data-dtype="Number"/>
              {{/if}}
            </div>
            <div class="checkmarks">
              <i class="toggle1" >{{{skill.untrainedIcon}}}</i>
              <i class="toggle2" >{{{skill.masteryIcon}}}</i>
            </div>
        </li>
      {{/each}}
      </ul>
    </div>

    {{!-- https://stackoverflow.com/questions/6199773/how-to-enable-disable-an-html-button-based-on-scenarios --}}
    {{!-- https://sebhastian.com/call-javascript-function-html/ --}}
    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned powers Tab --}}
    <div class="tab powers" data-group="primary" data-tab="powers">
       {{> "systems/foundrymnm3e/templates/actor/parts/actor-powers.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/foundrymnm3e/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>

  <pre>
    <script>
      function setDefaultToZero(input) {
        if (input.value == '') {
          input.value = '0';
        }}
    </script>
  </pre>
</form>

