<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="power-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields power-header">
      <div class="flexrow">
        <a class="toggle active-toggle">{{{activestate}}}</a>
        <h1 class="charname power-name"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      </div>
      <div class="flexrow">
        {{#if locked}}
        <label class="sub-header power-choice" data-value="selected_type">{{selected_powers}}</label>
        {{else}}
        <select class="sub-header power-choice" name="system.power_effect">
          {{selectOptions powers selected=selected_powers blank=""}}
        </select>
        {{/if}}
        <input type="checkbox" class="resource-checkmark" name="system.locked" {{checked system.locked}} />
        <div class="flexcol">
          <label class="active_ranks">{{localize "MNM3E.Cost"}}:</label>
          <label class="active_ranks">{{system.power_cost.active_cost}}</label>
        </div>
        <div class="flexcol">
          <label class="active_ranks">{{localize "MNM3E.Rank"}}:</label>
          <label class="active_ranks">{{system.power_cost.active_rank}}</label>
        </div>
      </div>
    </div>
  </header>
  <hr>
  </hr>
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="flexrow">
      <label>Combined Description: {{system.combineddescription}}</label>
    </div>
    <hr>
    </hr>
    <div class="power-description">
      <h3>{{localize "MNM3E.Description" }}</h3>
      <textarea name="system.description" rows="5">{{system.description}}</textarea>
    </div>

    {{!-- Power Effect Data Setup --}}
    {{#if locked}}
    <div class="flexrow">
      <aside class="sidebar">
        <ul class="power-types sectionpower">
          <li class="power flexrow">
            <label class="resource-label">{{localize "MNM3E.BasePower"}}</label>
            <label class="resource-label" data-value="selected_type">{{selected_powers}}</label>
          </li>
          <li class="power flexrow">
            <label class="resource-label">{{localize "MNM3E.PowerType"}}</label>
            <label class="resource-label" data-value="selected_type">{{selected_type}}</label>
          </li>
          <li class="power flexrow">
            <label class="resource-label">{{localize "MNM3E.Action"}}</label>
            <label class="resource-label" data-value="selected_action">{{selected_action}}</label>
          </li>
          <li class="power flexrow">
            <label class="resource-label">{{localize "MNM3E.Range"}}</label>
            <label class="resource-label" data-value="selected_range">{{selected_range}}</label>
          </li>
          <li class="power flexrow">
            <label class="resource-label">{{localize "MNM3E.Duration"}}</label>
            <label class="resource-label" data-value="selected_duration">{{selected_duration}}</label>
          </li>
          <li class="power flexrow">
            <label class="resource-label">{{localize "MNM3E.Resistance"}}</label>
            <label class="resource-label" data-value="selected_savingthrow">{{selected_savingthrow}}</label>
          </li>
          {{#if saveDamage}}
          <li class="power flexrow">
            <label class="resource-label">{{localize "MNM3E.ResistanceDamage"}}</label>
            <label class="resource-label" data-value="selected_damage">{{selected_damage}}</label>
          </li>
          {{/if}}
        </ul>
      </aside>

      <aside class="sidebar cost-list">
        <ul class="cost-list">
          <li class="cost flexrow">
            <label class="resource-label">{{localize "MNM3E.Rank"}}</label>
            <input class="cost-value rank halfsize" type="number" name="system.power_cost.rank"
              value="{{system.power_cost.rank}}" min="0" max="{{max_ranks}}" data-dtype="Number" />
            <input class="cost-value rank halfsize" type="number" name="system.power_cost.active_rank"
              value="{{system.power_cost.active_rank}}" min="0" max="{{max_upgradeable}}" data-dtype="Number" />
          </li>
          <li class="cost flexrow">
            <label class="resource-label">{{localize "MNM3E.BaseCost"}}</label>
            <input class="cost-value base" type="text" disabled name="system.power_cost.base_cost"
              value="{{system.power_cost.base_cost}}" data-dtype="Number" />
          </li>
          <li class="cost flexrow">
            <label class="resource-label">{{localize "MNM3E.Extras"}}</label>
            <input class="cost-value extra" type="text" disabled name="system.power_cost.extras"
              value="{{system.power_cost.extras}}" data-dtype="Number" />
          </li>
          <li class="cost flexrow">
            <label class="resource-label">{{localize "MNM3E.Flaws"}}</label>
            <input class="cost-value flaw" type="text" disabled name="system.power_cost.flaws"
              value="{{system.power_cost.flaws}}" data-dtype="Number" />
          </li>
          <li class="cost flexrow">
            <label class="resource-label">{{localize "MNM3E.Flats"}}</label>
            <input class="cost-value flat" type="text" disabled name="system.power_cost.flat"
              value="{{system.power_cost.flat}}" data-dtype="Number" />
          </li>
          <li class="cost flexrow">
            <label class="resource-label">{{localize "MNM3E.FinalCost"}}</label>
            <input class="cost-value final halfsize" type="text" disabled name="system.power_cost.final_cost"
              value="{{system.power_cost.final_cost}}" data-dtype="Number" />
            <input class="cost-value final halfsize" type="text" disabled name="system.power_cost.active_cost"
              value="{{system.power_cost.active_cost}}" data-dtype="Number" />
          </li>
        </ul>
      </aside>
    </div>

    <div class="extras-uniques flexrow">
      <div class="unique-left-column">
        <ul class="unique-selection sectionpower">
          {{!-- Affliction Unique --}}
          {{#if (isaffliction selected_powers)}}
          <li class="unique flexrow">
            <label class="resource-label">{{ localize "MNM3E.menuFirstDegree"}}</label>
            <select class="unique-value" name="system.values.value_one">
              {{selectOptions value_one selected=setvalueone blank=""}}
            </select>
          </li>
          <li class="unique flexrow">
            <label class="resource-label">{{ localize "MNM3E.menuSecondDegree"}}</label>
            <select class="unique-value" name="system.values.value_two">
              {{selectOptions value_two selected=setvaluetwo blank=""}}
            </select>
          </li>
          <li class="unique flexrow">
            <label class="resource-label">{{ localize "MNM3E.menuThirdDegree"}}</label>
            <select class="unique-value" name="system.values.value_three">
              {{selectOptions value_three selected=setvaluethree blank=""}}
            </select>
          </li>
          <li class="unique flexrow">
            <label class="resource-label">{{ localize "MNM3E.menuResistedBy"}}</label>
            <select class="unique-value" name="system.values.value_five">
              {{selectOptions resistancearray selected=setvaluefive blank=""}}
            </select>
          </li>
          {{/if}}
          {{!-- Communication Unique--}}
          {{#if (iscommunication selected_powers)}}
          <div>
            <li class="unique flexrow">
              <label class="sense-type">{{ localize "MNM3E.menuSenseType"}}</label>
              <select class="unique-value" name="system.values.value_one">
                {{selectOptions value_one selected=setvalueone blank=""}}
              </select>
              <input class="unique-input" name="system.values.value_two" type="text"
                value="{{system.values.value_two}}">
            </li>
          </div>
          {{/if}}
          {{!-- Damage Unique--}}
          {{#if (isdamage selected_powers)}}
          <div>
            <label class="checkbox resource-label">
              <input type="checkbox" name="system.values.value_one" {{checked system.values.value_one}} /> {{ localize
              "MNM3E.menuAddStrength" }}
            </label>
          </div>
          {{/if}}
          {{!-- Enhanced X Unique--}}
          {{#if (isenhanced selected_powers)}}
          <div>
            <a class="ench-control flexrow add-ench">
              <label class="add"><i class="fas fa-plus plusimg"></i>{{ localize "MNM3E.menuAddEnhanced" }}<i
                  class="fas fa-plus plusimg"></i></label>
            </a>
            {{#each system.values.value_array as |part a|}}
            <li class="extras ench-part flexrow" data-ench-part="{{a}}">
              <select class="extras-value" name="system.values.value_array.{{a}}.0">
                {{#select (lookup this "0")}}
                {{selectOptions @root.system.unique.value_one}}
                {{/select}}
              </select>
              <input class="ench-name extras-value" type="text" name="system.values.value_array.{{a}}.1" min="0"
                value="{{ lookup this " 1"}}">
              <a class="ench-control delete-ench delete-symbol" name="{{a}}"><i class="fas fa-minus"></i></a>
            </li>
            {{/each}}
          </div>
          {{/if}}
        </ul>

        <ul class="extras-types">
          <a class="exfl-control flexrow add-exfl">
            <label class="add"><i class="fas fa-plus plusimg"></i>{{localize "MNM3E.menuAddExFl"}}<i
                class="fas fa-plus plusimg"></i></label>
          </a>

          {{#each system.extrasflaws.parts as |part i|}}
          <li class="extras exfl-part flexrow" data-exfl-part="{{i}}">
            <input disabled class="extras-value" class="exfl-name" type="text" name="system.extrasflaws.parts.{{i}}.0"
              value="{{ lookup this " 0"}}">
            {{#if condition}}

            {{/if}}
            <input disabled type="number" class="exfl-rank extras-value" name="system.extrasflaws.parts.{{i}}.2"
              value="{{ lookup this " 2"}}" min="0" max="5" data-dtype="Number" />
            <select disabled class="extras-value" name="system.extrasflaws.parts.{{i}}.1">
              {{#select (lookup this "1")}}
              {{selectOptions @root.config.ExtrasFlawsTypes}}
              {{/select}}
            </select>
            <a class="exfl-control delete-exfl delete-symbol" name="{{i}}"><i class="fas fa-minus"></i></a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    {{/if}}
  </section>
</form>