<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="power-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields main-header">
      <h1 class="charname power-name"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="flexrow">
        <label class="sub-header" name="labels.basepower">{{labels.basepower}}</label>    
        <label class="active_ranks" data-value="active_ranks">{{system.power_cost.active_cost}}</label>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    <div class="tab attributes" data-group="primary" data-tab="attributes">
    
    {{!-- Power Effect Data Setup --}}
    <div class="flexrow">
      <ul class="power-types sectionpower">
        <li class="power flexrow">
          <label class="resource-label">Base Power</label>
          <select class="power-value" name="system.power_effect">
            {{selectOptions powers selected=selected_powers blank=""}}
          </select>
        </li>
        <li class="power flexrow">
          <label class="resource-label">Type</label>
          <label class="resource-label" data-value="selected_type">{{selected_type}}</label>
        </li>
        <li class="power flexrow">
          <label class="resource-label">Action</label>
          <label class="resource-label" data-value="selected_action">{{selected_action}}</label>
        </li>
        <li class="power flexrow">
          <label class="resource-label">Range</label>
          <label class="resource-label" data-value="selected_range">{{selected_range}}</label>
        </li>
        <li class="power flexrow">
          <label class="resource-label">Duration</label>
          <label class="resource-label" data-value="selected_duration">{{selected_duration}}</label> 
        </li>
        <li class="power flexrow">
          <label class="resource-label">Saving Throw</label>
          <label class="resource-label" data-value="selected_savingthrow">{{selected_savingthrow}}</label>
          {{#if saveVariant}}
          <select class="power-value" name="system.save.resistance">
            {{selectOptions savingthrow selected=selected_savingthrow blank=""}}
          </select>
          {{/if}}         
        </li>
        {{#if saveDamage}}
        <li class="power flexrow">
          <label class="resource-label">Damage Saving Throw</label>
          <label class="resource-label" data-value="selected_damage">{{selected_damage}}</label>
        </li>
        {{/if}}
      </ul>

      <ul class="cost-list">
        <li class="cost flexrow">
          <label class="resource-label">Rank</label>
          <input class="cost-value rank" type="number" name="system.power_cost.rank" value="{{system.power_cost.rank}}" min="0" max="{{max_ranks}}" data-dtype="Number"/>
        </li>
        <li class="cost flexrow">
          <label class="resource-label">Base cost</label>
          <input class="cost-value base" type="text" disabled name="system.power_cost.base_cost" value="{{system.power_cost.base_cost}}" data-dtype="Number"/>
        </li>
        <li class="cost flexrow">
          <label class="resource-label">Extras</label>
          <input class="cost-value extra" type="text" disabled name="system.power_cost.extras" value="{{system.power_cost.extras}}" data-dtype="Number"/>
        </li>
        <li class="cost flexrow">
          <label class="resource-label">Flaws</label>
          <input class="cost-value flaw" type="text" disabled name="system.power_cost.flaws" value="{{system.power_cost.flaws}}" data-dtype="Number"/>
        </li>
        <li class="cost flexrow">
          <label class="resource-label">Flat</label>
          <input class="cost-value flat" type="text" disabled name="system.power_cost.flat" value="{{system.power_cost.flat}}" data-dtype="Number"/>
        </li>
        <li class="cost flexrow">
          <label class="resource-label">Final cost</label>
          <input class="cost-value final" type="text" disabled name="system.power_cost.final_cost" value="{{system.power_cost.final_cost}}" data-dtype="Number"/>
        </li>
      </ul>
    </div>

    <div class="flexrow">
      <ul class="unique-selection">
        <div>{{{uniquefield}}}</div>
      </ul>

      <ul class="extras-flaws-list">
        <a class="exfl-control flexrow add-exfl">
          <label class="add"><i class="fas fa-plus plusimg"></i>Add New Extras or Flaws<i class="fas fa-plus plusimg"></i></label>
        </a>

        {{#each system.extrasflaws.parts as |part i|}}
          <li class="exfl-part flexrow" data-exfl-part="{{i}}">
            <label class="exfl-name" name="system.extrasflaws.parts.{{i}}.0"></label>
            <input class="exfl-rank" type="number" name="system.extrasflaws.parts.{{i}}.1" value="{{ lookup this "1"}}" min="1" max="5" data-dtype="Number"/>
            
            <a class="exfl-control delete-exfl"><i class="fas fa-minus"></i></a>
          </li>
        {{/each}}
      </ul>
    </div>

    </div>
  </section>
</form>
